[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/usr/local/bin/jupyter-notebook --config=/root/.jupyter/jupyter_notebook_config.py
User=root
Group=root
Restart=always
RestartSec=10
Environment=SPARK_HOME=/usr/local/spark
Environment=PYTHONPATH=/usr/local/spark/python:/usr/local/spark/python/lib/py4j-0.10.7-src.zip
Environment=PYSPARK_DRIVER_PYTHON=jupyter
Environment=PYSPARK_DRIVER_PYTHON_OPTS=notebook
Environment=PYSPARK_PYTHON=python2

[Install]
WantedBy=multi-user.target
